/* 基本的なリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ボディのスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: cornsilk;
}

/* コンテナのスタイル */
.container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    /* テーブルの最大幅 */
    margin: 20px auto;
    /* センターに配置 */
    flex: 1;
}

/* ヘッダーのスタイル */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 8px;
}

header h1 {
    font-size: 24px;
}

header .logo {
    font-size: 28px;
    font-weight: bold;
    margin-left: 30px;
}

/* ボタンのスタイル */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-edit {
    background-color: #28a745;
}

.btn-edit:hover {
    background-color: #218838;
}

/* テーブルのスタイル */
table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;


}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* ボタンのスタイル */
.btn-edit {
    background-color: #007bff;
    margin-right: 5px;
}

.btn-edit:hover {
    background-color: #0056b3;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}